* {
  margin: 0px;
}

body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  max-width: 100%;
  padding: 40px 60px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

.img-bike {
  max-width: 106.5%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  border-radius: 4px;
  border: #ffffff solid 2px;
  border-width: 5px 21px;
  background-color: #ffffff;
  margin-bottom: 34px;
  /* margin-top: 0px;  */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-grupo1 {
  border: 1px solid white;
  padding: 20px;
  background: white;
  height: 255px;
}

.traco-vermelho {
  border-top: solid red;
  border-width: 5px;
}

.grupo2-titulo {
  color: #c6c6c6;
}

.rodape {
  background-color: #f7f7f7;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
