* {
  margin: 0px;
  cursor: pointer;
}

body {
  margin: 0px;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.logo {
  max-width: 100%;
  display: block;
  padding-top: 60px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nav-links {
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.img-bike {
  max-width: 100%;
  display: block;
}

.grid-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.grid-conteudo1 {
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

.detalhe-vermelho {
  width: 60px;
  height: 4px;
  background: #ee2211;
  position: absolute;
  right: -30px;
  margin-top: 30px;
}

.grupo1-titulo {
  padding-top: 36px;
}

.grupo1-paragrafo {
  font-size: 20px;
  line-height: 1.6;
}

.botao {
  background: #ee2211;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.conteudo2-titulo {
  color: rgba(0, 0, 0, 0.2);
  font-size: 64px;
  text-align: end;
  padding: 36px;
  text-transform: uppercase;
  align-self: center;
}

.conteudo2 {
  background: #ffffff;
  padding: 40px;
}

.conteudo2-item {
  font-size: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px 20px;
  padding: 20px;
}
.conteudo2-item p {
  grid-column: 2;
  padding: 20px;
}

.img-icone-grupo2 {
}

.h1-icone-grupo2 {
}

.p-icone-grupo2 {
  font-size: 20px;
  line-height: 1.6;
}

.rodape {
  background-color: #ffffff;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  box-sizing: border-box;
}
