* {
  margin: 0px;
}

body {
  margin: 0px;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.logo {
  max-width: 100%;
  display: block;
  padding-top: 60px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nav-links {
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.img-bike {
  max-width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 34px;
}

.grid-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.grid-conteudo1 {
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;

  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;

  width: 403px;
}

.traco-vermelho {
  width: 60px;
  height: 4px;
  border-width: 5px;
  background: #ee2211;
  position: absolute;
  right: -30px;
}

.grupo1-titulo {
  padding-top: 36px;
}

.grupo1-paragrafo {
  /* text-align: end; */
  padding-top: 23px;
  line-height: 1.6;
}

.botao {
  background: #ee2211;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;

  /* justify-items: end;
  margin-top: 28px;
  display: inline-block;
  margin-left: 233px; */
}
.grupo2-titulo {
  color: #c6c6c6;
  margin-left: 34rem;
  margin-top: 8rem;
  font-size: 64px;
  text-align: end;
  margin-right: 10px;
}

.grupo2 {
  background: white;
  width: 29.6rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
}

.grupo2-item {
  display: flow;
  margin-left: 6rem;
  margin-top: -3.5rem;
  font-size: 20px;
}

.img-icone-grupo2 {
  margin: 41px 0px 27px 38px;
  max-width: 6%;
}

.h1-icone-grupo2 {
}

.p-icone-grupo2 {
}

.rodape {
  background-color: #ffffff;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 22px;
  box-sizing: border-box;
}
